/node_modules
/public/hot
/public/SliderImages
/public/SosioFruits_Products
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
